html, body {
	width: 100%;
	height: 100%;
    padding: 0;
    margin: 0;
	background-color: #383838;
}

.highcharts-credits {
    fill: #2a2a2b !important;
}

.overlay-header {
    position: absolute;
}

#dashboard {
	width: 100%;
	height: 100%;
}